*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
body{
 overflow-x: hidden;
 color: var(--main-blue);
}
:root{
 --main-blue: #14213D;
 --orange: #FCA311;
 --secondary-blue: #3772FF;
 --white: #FEFFFF;
 --blue-gradient: linear-gradient(140deg, #14213D 52.16%, #3772FF 152.83%);
}
.logo img{
 width: 7rem;
 height: 3rem;
 flex-shrink: 0;
}
.for-header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: var(--white);
 display: flex;
 width: 100%;
 padding: 1.5rem 5rem 0.5rem 5rem; 
 position: fixed;
 margin-top: -15px;
 z-index: 1000;
}
.nav{
 margin-left: 5rem;
}
.nav ul{
 padding-top: 20px;
}
.nav ul li{
 list-style: none;
 display: inline-block;
 padding-right: 25px;
}
.nav .top-nav ul li a{
 text-decoration: none;
 font-weight: 400;
 transition: ease-in-out 0.5s;
 color: var(--main-blue);
} 
.active-link{
 color: red;
}
.top-nav{
 display: flex;
 justify-content: space-between;
 align-items:center ;
}
.started a, .search, .last-list button a{
 text-decoration: none;
 background-color: var(--main-blue);
 color: var(--white);
 display: flex;
 width: 12.0625rem;
 padding: 0.5rem 1.5rem;
 justify-content: center;
 align-items: center;
 flex-shrink: 0; 
 border-radius: 1.5rem;
}
.started button{
 margin-left: 15rem;
 outline: none;
 border: none;
 background-color: transparent;
}
.hero-text{
 width: 39.25rem;
}
.hero-section{
 background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(./images/hero-bg.jpeg);
 background-size: cover;
 background-position: center;
 border-radius: 3rem;
 width: 85rem;
 height: 22rem;
 color: var(--white);
 padding-top: 10px;
 margin-top: 100px;
}
.hero{
 padding: 1.5rem 5rem;
 margin-left: 30px;
 position: relative;
 overflow: hidden;
}
.form-container{
 width: 90rem;
 margin: 0 13;
}
form select{
 width: 10rem;
 background-color: transparent;
 border: 2px solid var(--main-blue);
 padding: 5px;
 border-radius: 0.5rem;
}
.underline{
 width: 20px;
 height: 5px;
 background-color: var(--secondary-blue);
 margin: auto auto;
 border-radius: 0.5rem;
 margin-top: -10px;
}
section{
 margin: 100px 5rem 100px 5rem;

}
.work-card{
 width: 26.5rem;
 background-color: var(--main-blue);
 color: var(--white);
 padding: 3rem 1.5rem; 
 border-radius: 1.5rem;
 border: 2px solid var(--secondary-blue);
}
.work-card img{
 width: 80px;
 height: 80px;
}
.circle{
 width: 50px;
 height: 50px;
 border-radius: 50%;
 background-color: var(--secondary-blue);
 margin: -70px auto 0 auto;
 z-index: -1;
 -webkit-filter: blur(30px);
 -moz-filter: blur(30px);
 -o-filter: blur(30px);
 -ms-filter: blur(30px);
 filter: blur(30px);
 opacity: 0.5;
}
.featured button{
 background-color: transparent;
 padding: 5px 20px;
 margin: 5px;
 border-radius: 1.5rem;
 outline: none;
 border: 2px solid var(--main-blue);
}
.line{
 width: 1px;
 height: 20px;
 background-color: var(--secondary-blue);
 opacity: 0.2;
}
.land-listing{
 color: var(--secondary-blue);
 display: flex;
 align-items: center;
 gap: 10px;
}
.last-list button{
 outline: none;
 background-color: transparent;
 border: none;
}
.last-list button a{
 padding: 0.5rem 1rem;
 width: 8rem;
}
.list-top{
 margin-top: -10px;
}
.second-hero{
 padding: 1.5rem 2rem;
}
.need-roomate a{
 text-decoration: none;
 color: var(--secondary-blue);
 border: 2px solid var(--secondary-blue);
 padding: 0.5rem 1.5rem;
 background-color: transparent;
 border-radius: 2rem;
 transition: 0.5s all ease-in;
}
.need-roomate>a:hover{
 background-color: var(--white);
}
.need-roommate{
 background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(./images/hero-bg.jpeg);
 background-size: cover;
 background-position: center;
 border-radius: 3rem;
 color: var(--white);
 padding:2rem;
 
}
.need-text{
 width: 39rem;
 margin: auto auto;
}

#address{
 max-width: 26rem;
}
footer{
 padding: 3rem 5rem;
 background-image:  linear-gradient(140deg, #14213D 52.16%, #3772FF 152.83%);
 color: var(--white);
}
.set-color{
 color: var(--orange);
}
footer a{
 text-decoration: none;
 color: var(--white);
}
.social{
 padding: 4px 5px 6px 5px;
 background-color: var(--secondary-blue);
 border-radius: 20px;
 margin-top: 8px;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.5s all ease-in;
}
.social:hover{
 border: 2px solid var(--orange);
}
#connect h6{
 letter-spacing: 3px;
}
#connect > div{
 width: 150px;
 margin: 0 auto;
}
.school{
 text-transform: uppercase;
 color: var(--secondary-blue);
}
.testimonial-img{
 padding: 5px;
 border: 2px solid var(--secondary-blue);
 border-radius: 50%;
}
.testimonial{
 border: 2px solid var(--main-blue);
 border-radius: 2rem;
 max-width: 20rem;
}
.work-inner-text{
 line-height: 30px;
 display: none;
}
#compare, #explore, #confidence{
 transition: 0.5s all ease-in;
}
.compare, .explore, .confidence{
 transition: 0.5s all ease-in;
 height: 300px;
}
.compare:hover, .explore:hover, .confidence:hover{
 background-color: var(--white);
 color: var(--main-blue);
 height: 400px;
}
.compare:hover #compare, .explore:hover #explore, .confidence:hover #confidence{
 display: block;
}

.faq-question{
 background-image:linear-gradient(140deg, #14213D 52.16%, #3772FF 152.83%) ;
 border-top-right-radius: 15px;
 border-top-left-radius: 15px;
 transition: 2s ease;
}
.faq{
 color: var(--white);
 margin-bottom: 20px;
 transition: 2s ease;
}
.faq-question:hover{
 
}

.faq.active .faq-answer{
 max-height:300px ;
}
.faq-answer{
 background-color: var(--white);
 color: var(--main-blue);
 border: 1px solid var(--main-blue);
 border-bottom-right-radius: 15px;
 border-bottom-left-radius: 15px;
 max-height: 300px;
 overflow: hidden;
 transition:  2s ease;
 padding-top: 1rem;
 line-height: 1.6;
 display: none;
}
.faq-btn{
 transform: rotate(90deg);
 transition: 2s ease-in
}
.faq-button{
 background-image:linear-gradient(140deg, #14213D 52.16%, #3772FF 152.83%);
 border: none;
 outline: none;
}
.apat{
 padding: 2.5rem 5rem;
 padding-top: 80px;
}
#apart-container{
 border-radius: 0.5rem;
 border: 1px solid var(--grey-shade);
 background: var(--white-shade);
 box-shadow: 0px 8px 16px 0px rgba(4, 7, 12, 0.10);
 margin-top: 100px;
}
#aparts-container{
 border-radius: 0.5rem;
 border: 1px solid var(--main-blue);
 background: var(--white-shade);
 box-shadow: 0px 8px 16px 0px rgba(4, 7, 12, 0.10);
}
form .apart-input select{
 width: 8rem;
 padding: 8px ;
 border: 2px solid var(--secondary-blue);
}
.aparts-button, .book-now{
 display: flex;
 justify-content: center;
}
.aparts-button button{
 padding: 10px 15px;
 background-color:var(--main-blue) ;
 border: 2px solid var(--main-blue);
 color: var(--white);
 margin-top: 50px;
 display: flex;
 border-radius: 5px;
}
.book-now button{
 padding: 5px 5px;
 background-color:var(--main-blue) ;
 border: 2px solid var(--main-blue);
 color: var(--white);
 border-radius: 2rem;
 height: 40px;
 width: 150px;
}
.section-side{
 border-radius: 0.5rem;
 border: 1px solid var(--grey-shade);
 background: var(--white-shade);
 box-shadow: 0px 8px 16px 0px rgba(4, 7, 12, 0.10);
 width: 20rem;
 padding: 30px;
 display: flex;
 justify-content: center;
 margin-left: 5rem;
}
.apart-each{
 width: 24.5rem;
 border: 2px solid var(--secondary-blue);
 color: var(--secondary-blue);
 font-size: 12px;
 border-radius: 1rem;
 margin-bottom: 20px;
}
.apart-each>img{
 border-top-right-radius: 1rem;
 border-top-left-radius:1rem ;
}
.after-image{
 padding: 10px 20px;
}
.yellow{
 color: var(--orange);
}
.dark-head{
 color: var(--main-blue);
}
.apart-button{
 background-color: transparent;
 padding: 10px 20px;
 border: 2px solid var(--main-blue);
 border-radius: 2rem;
 margin-top: -10px;
}
.potential-img img{
 width: 100%;
 margin-top: 70px;
}
.potential-container{
 padding: 1.5rem 5rem;
}

.potential-button{
 text-transform: capitalize;
 padding: 7px 5px 7px 10px;
 background-color: transparent;
 border: 2px solid var(--main-blue);
 border-radius: 2rem;
 width: 250px;
}
.potential-button input{
 border: none;
 width: 150px;
 outline: none;
}
table{
 width: 100%;
}
.available-roommate{
 margin: 1.5rem 5rem 1.5rem 5rem;
}
#available-roommate table tr td button, .available-roommate table tr td button{
 padding: 5px 10px;
 font-size: 10px;
 background-color: transparent;
 border: 2px solid var(--main-blue);
 text-transform: capitalize;
 border-radius: 2rem;
}
table{
 border-collapse: collapse;
}
.price{
 color: var(--secondary-blue);
}
.table-head{
 background-color: var(--main-blue);
 color: var(--white);
 border-radius: 50px;
 padding: 20px;
 margin: 100px 0px;
}
th, td{
 padding: 15px 0px;
 
}
tr{
 border: 0.5px solid #f2f2f2;
}
.new-request{
 margin: 3.5rem 5rem;
}
.detail-img{
 margin-top: -10px;
}
.second-detail-img{
 margin-top: -10px;
}
.full-line{
 border: 1px solid var(--main-blue);
 width: 100%;
}
.mid-line{
 border: 1px solid var(--main-blue);
 width: 80%;
 margin-left: auto;
 margin-right: auto;
}
.mid-text{
 width: 600px;
}
.see-more button{
 border: 1px solid var(--main-blue);
 background-color: transparent;
 padding: 7px 20px;
 border-radius: 2rem;
}
.apart-button a{
 text-decoration: none;
 color: var(--main-blue);
}
.heart-btn{
 cursor: pointer;
}
#color-link{
 color: var(--secondary-blue);
}
.nav-links li a:hover{
 color: var(--secondary-blue);
}
.faq-answer a{
 text-decoration: none;
}